.imagem-fundo {
                background-image: url("/Users/Administrador/Desktop/jogo/imagem/fundo.jpg");
                background-repeat: no-repeat;
                background-size: cover;

}

h1 {
    
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 250px;
}

.inicio {

        margin-top: 25px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;

}

.botaoinicio {
            margin-left: 580px;
            margin-top: 50px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            background-size: cover;
            padding: 15px;
            text-transform: uppercase;
}

.botaoinicio:hover {
                color:crimson

}

/* PARTE DA APRESENTAÇÃO*/

.fundo-apresentacao {
                    background-image: url(/Users/Administrador/Desktop/jogo/imagem/fundoapresentacao3.jpg);
                    
                
}


.missao {
        color: white;
        margin-top: auto;
        
}

.caixa2 {
        background: rgba(210, 105, 30, 0.336);
        height: 30px;
        width: 50%;
        margin: auto;
        border-radius: 15px;
        
}
.atencao {
            margin-top: 15px;    
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
}


.p2 {
        
    height: auto;
    text-align: center;
    font-weight: 100px;
    font-size: 30px;
    color:white;

}

.caixa {
        
        margin: 40px;
        height: auto;
        border-radius: 15px;

}

/* ESCOLHA DO PERSONAGEM */




.escolhas {
        
          background-image: url(/Users/Administrador/Desktop/jogo/imagem/fundoescolha.png);
          background-repeat: no-repeat;
          background-size: cover;
         
}

.personagem {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 50px;
        margin-top: 40px;

}

.caixapersonagem {
        
        
        display: flex;
        justify-content: space-around;

}

.imagem1 {
          
          padding: 1%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 20%;
          margin-top: 40px;      
          background: rgba(210, 105, 30, 0.336);
          margin-right: 50px;
          border-radius: 20px;
}

.imagem2 {
        
        padding: 1%;
        margin-top: 30px;
        width: 20%;
        display: flex;
        flex-direction: column;
        background: rgba(210, 105, 30, 0.336);
        margin-right: 50px;
        border-radius: 20px;
}

.imagem3 {
        
        padding: 1%;
        margin-top: 30px;
        width: 20%;
        display: flex;
        flex-direction: column;
        background: rgba(210, 105, 30, 0.336);
        margin-right: 10px;
        border-radius: 20px;
        
}

.personalidade {
                margin-top: 30px;
                width: 100%;
                margin-left: auto;
                margin-right: 50px;
                text-align: center;
        
                color:  white;
                border-radius: 15px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Gamer Over */


.gamer { 
        background-image: url(/Users/Administrador/Desktop/jogo/imagem/fundogameover.jpg);
        background-size: cover;
        background-repeat: no-repeat;


}


.gamerover {
        text-align: center;
        margin-left: 380px;
        margin-right: 380px;
        margin-top: 150px;
        color: white;
        
        border-radius: 20px;
}

.frase {
        background: rgba(165, 3, 3, 0.562);
        color: white;
        text-align: center;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.escolherg {

        padding: 10px;
        font-size: 20px;
        margin-right: 470px;
        margin-left: 570px;
        margin-top:20px;
        background: rgba(224, 13, 13, 0.336);
        border-radius: 20px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        
}
        